this is edit.erb
<p> <%= link_to "topへ戻る", "/boards" %> </p>

<%= form_tag "/boards/#{@board.id}", method: :put do %>
  <%= text_field_tag :title, @board.title %>
  <%= text_field_tag :editor, @board.editor %>
  <%= submit_tag %>
<% end %>
